<a href="https://colab.research.google.com/github/jasearce/Proyecto1_Programa_Ciencia_Datos_Python/blob/main/Proyecto_1_Javier_Arce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Ejercicio # 1**:
Escribir un programa que pregunte al usuario por las ventas de los últimos 5 días, y muestre por pantalla una serie con los datos de las ventas por producto: Nro de unidades y precio unitario, indexada por los días, antes y después de aplicarles un descuento del 5%.

In [ ]:
#Importamos las librerias correspondientes
import numpy as np
import pandas as pd
from datetime import timedelta, date

In [ ]:
#Funcion para depurar datos ingresados por el usuario
def obtenerValorCantidad(ingreso_datos):
  valorCantidad_lst = list()
  salida = True
  listaValorCantidad = ingreso_datos.split(',')
  if len(listaValorCantidad) < 2:
    salida = False
    print("Faltan datos para generar la serie!")
  else:
    valor_vendido = float(listaValorCantidad[0])
    cantidad_vendida = int(listaValorCantidad[1])
    valorCantidad_lst.append(valor_vendido)
    valorCantidad_lst.append(cantidad_vendida)
    salida = True
    return valorCantidad_lst, salida

In [ ]:
#Lazo while para preguntar por las ventas de los ultimos 5 dias.
#Se utiliza la funcion creada anteriormente para depurar el string obtenido por consola.
print("***** Inicio del programa *******")
dias = 0
venta_por_producto_dict = dict()
fecha_actual = date.today()
while dias < 5:
  ventas_lst = []
  correcto = False
  while not correcto:
    info_venta = str(input(f"Ingrese el valor y la cantidad de producto vendido en el dia {dias + 1} separado por coma: "))
    if ',' in info_venta:
      venta_por_producto_dict[dias], correcto = obtenerValorCantidad(info_venta)
      dias += 1
print(venta_por_producto_dict)

***** Inicio del programa *******
Ingrese el valor y la cantidad de producto vendido en el dia 1 separado por coma: 10,5
Ingrese el valor y la cantidad de producto vendido en el dia 2 separado por coma: 25,9
Ingrese el valor y la cantidad de producto vendido en el dia 3 separado por coma: 12,9
Ingrese el valor y la cantidad de producto vendido en el dia 4 separado por coma: 14,8
Ingrese el valor y la cantidad de producto vendido en el dia 5 separado por coma: 16,78
{0: [10.0, 5], 1: [25.0, 9], 2: [12.0, 9], 3: [14.0, 8], 4: [16.0, 78]}

In [ ]:
#Agregamos las listas almacenadas en el diccionario por cada dia ingresado en una lista general
#Esto para poder crear el DataFrame final
data_lst = list()
for key in venta_por_producto_dict:
  print(venta_por_producto_dict[key])
  data_lst.append(venta_por_producto_dict[key])

[10.0, 5]
[25.0, 9]
[12.0, 9]
[14.0, 8]
[16.0, 78]

In [ ]:
#Creamos el DataFrame con la data procesada que viene desde el usuario e indexamos por
#por la fecha a raves de pd.data_range()
print(data_lst)
print("DataFrame previo al descuento")
df = pd.DataFrame(data=data_lst,columns=['Precio Unitario', 'Numero de unidades'],index=pd.date_range("20220415",periods=5))
df

[[10.0, 5], [25.0, 9], [12.0, 9], [14.0, 8], [16.0, 78]]
DataFrame previo al descuento

            Precio Unitario  Numero de unidades
2022-04-15             10.0                   5
2022-04-16             25.0                   9
2022-04-17             12.0                   9
2022-04-18             14.0                   8
2022-04-19             16.0                  78

In [ ]:
#Aplicamos el descuento del 5% al precio unitario del df
print("DataFrame luego del descuento")
df["Descuento del 5%"] = df["Precio Unitario"]*0.95
df

DataFrame luego del descuento

            Precio Unitario  Numero de unidades  Descuento del 5%
2022-04-15             10.0                   5              9.50
2022-04-16             25.0                   9             23.75
2022-04-17             12.0                   9             11.40
2022-04-18             14.0                   8             13.30
2022-04-19             16.0                  78             15.20

In [ ]:
print("***** Fin del programa *******")

***** Fin del programa *******

------------------------------------------

#**Ejercicio # 2**

Escribir un programa que reciba un diccionario con los ingresos mensuales de los clientes de una empresa, y devuelva una serie con el ingreso mínimo, máximo y media.

In [ ]:
#Creamos el diccionario con valores aleatorios
ingresos_mensuales = dict()
ingresos_mensuales['Enero'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Febrero'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Marzo'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Abril'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Mayo'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Junio'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Julio'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Agosto'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Septiembre'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Octubre'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Noviembre'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales['Diciembre'] = round(np.random.uniform(1250,3000),2)
ingresos_mensuales

{'Abril': 2242.26,
 'Agosto': 2853.74,
 'Diciembre': 1749.39,
 'Enero': 2963.51,
 'Febrero': 2185.7,
 'Julio': 2032.15,
 'Junio': 2159.57,
 'Marzo': 1396.03,
 'Mayo': 1282.8,
 'Noviembre': 2285.76,
 'Octubre': 2777.82,
 'Septiembre': 1767.38}

In [ ]:
valores_ingresos = list(ingresos_mensuales.values())
print(valores_ingresos)
ingreso_minimo = np.min(valores_ingresos)
ingreso_maximo = np.max(valores_ingresos)
ingreso_promedio = round(np.mean(valores_ingresos),2)
print(f"Minimo: {ingreso_minimo}")
print(f"Maximo: {ingreso_maximo}")
print(f"Promedio: {ingreso_promedio}")

valores_serie = list()
valores_serie.append(ingreso_minimo)
valores_serie.append(ingreso_maximo)
valores_serie.append(ingreso_promedio)
print(valores_serie)

[2963.51, 2185.7, 1396.03, 2242.26, 1282.8, 2159.57, 2032.15, 2853.74, 1767.38, 2777.82, 2285.76, 1749.39]
Minimo: 1282.8
Maximo: 2963.51
Promedio: 2141.34
[1282.8, 2963.51, 2141.34]

In [ ]:
result = pd.Series(data=valores_serie,index=['Minimo', 'Maximo', 'Promedio'])
result

Minimo      1282.80
Maximo      2963.51
Promedio    2141.34
dtype: float64

# Ejercicio 3
Generar nuevas columna:

1.   Columna 1 =  Gasto/Ventas*100.
2.   Columna 2 =  Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”.
3.   Columna 3 =  Si Gasto>Ventas, calcular el sobre gasto.
4.   Obtener el total de las ventas de los últimos 3 meses.
5.   Obtener el total de gastos de febrero a abril.

In [ ]:
data = {"Mes":["Enero","Febrero","Marzo","Abril","Mayo"], "Ventas":[30500,35600,28300,33900,42500], "Gastos":[22000,23450,18100,35700,32450]}
df_original = pd.DataFrame(data, index=None)
df_original.Ventas = df_original.Ventas.astype(np.float64)
df_original.Gastos = df_original.Gastos.astype(np.float64)
df_original

       Mes   Ventas   Gastos
0    Enero  30500.0  22000.0
1  Febrero  35600.0  23450.0
2    Marzo  28300.0  18100.0
3    Abril  33900.0  35700.0
4     Mayo  42500.0  32450.0

In [ ]:
df_original["Columna 1"] = round((df_original["Ventas"] / df_original["Gastos"]) *100, 2)
df_original["Columna 1"] = df_original["Columna 1"].astype(np.float64)

In [ ]:
df_original.loc[df_original["Ventas"] >= 3000, "Columna 2"] = "Meta Superada"
df_original.loc[df_original["Ventas"] < 3000, "Columna 2"] = "Meta no Superada"
df_original

       Mes  Ventas  Gastos  Columna 1      Columna 2
0    Enero   30500   22000     138.64  Meta Superada
1  Febrero   35600   23450     151.81  Meta Superada
2    Marzo   28300   18100     156.35  Meta Superada
3    Abril   33900   35700      94.96  Meta Superada
4     Mayo   42500   32450     130.97  Meta Superada

In [ ]:
df_original.loc[df_original["Gastos"] > df_original["Ventas"], "Columna 3"] = df_original["Gastos"] - df_original["Ventas"]
df_original

       Mes   Ventas   Gastos  Columna 1  Columna 3
0    Enero  30500.0  22000.0     138.64        NaN
1  Febrero  35600.0  23450.0     151.81        NaN
2    Marzo  28300.0  18100.0     156.35        NaN
3    Abril  33900.0  35700.0      94.96     1800.0
4     Mayo  42500.0  32450.0     130.97        NaN

In [ ]:
df2 = df_original.iloc[-3:,-4]
df2
print("El total de ventas de los ultimos tres meses es: ", df2.sum(axis=0))

104700.0

In [ ]:
df3 = df_original.iloc[1:4,-2]
df3
print("El total de gastos de Febrero a Abril fue de: ", df3.sum(axis=0).round(2))

El total de gastos de Febrero a Abril fue de:  403.12